@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Roboto:wght@100;300;400;500;900&display=swap');

h1, p, a {
  color: var(--text-gray);
}

h1 {
  font-family: 'DM Serif Display', serif;
}

p, a {
  font-family: 'Roboto', SansSerif;
  font-size: 16px;
}

a {
  text-decoration: underline;
}
